/* header styles */

.homePage{
   background-image: url("https://images.unsplash.com/photo-1613746203812-717e6e5db3da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OHx8YXJ0aXN0JTIwcGFpbnRpbmd8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60");
   min-height: 100vh;
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   text-align: center;  }

.homeButton{
  display: block;
  text-align: center;
  align-items: center;
  margin: auto;
}

.header {
  display: block;
  text-align: center;
  margin: 10px 0;
  background-color: rgb(44, 114, 85); 
}

.cartitem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
  margin-bottom: 20px;
}

.cartItemImg {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.right {
  text-align: right;
}
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.total > div {
  font-size: 2rem;
}

.total > div,
.total > button {
  flex: 1;
}

.cartItemDetail {
  display: flex;
  flex: 1;
  padding: 0 20px;
  flex-direction: column;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* Home Page */

.title {
  font-size: 30px;
}

.product {
  width: 18rem;
  margin: 1rem;
}
.products {
  display: flex;
  flex-wrap: wrap;
}

.productImage{
  height:12rem;

}

.card{
  padding: 1.5em .5em .5em;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.btn-dark{
  color: #ffffff;
  padding: .5em 1.5em;
}

.btn-dark:hover{
background-color: rgba(35, 36, 36, 0.7);
color: #ffffff;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-outline-danger{
  background-color: rgb(194, 45, 8);
  color: #ffffff;
  padding: .5em 1.5em;
}

.btn-outline-danger:hover{
  background-color: rgb(146, 44, 19);
  color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.btn-fixed{
  width: 9em !important;
}

.side-cart{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 15px;
}

.checkout-border{
  border-style:solid;
  padding: 50px;
}

/* Media Queries */
@media (max-width: 771px) {
  
  .title {
    font-size: 18px !important;
  }
  .search {
    display: none !important;
  }

  .products {
    width: 100%;
  }
}